.header {
  width: 100%;
  padding: 24px 0 20px 0;
  background-color: #010101;
 
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
  }

  &__menu {
    display: flex;
    gap: 48px;
  }

  &__link {
    color: #f1f1f1;
    font-size: 2rem;
  }

  &__link-active {
  }

  &__link-contact {
  }

  &__theme {
    cursor: pointer;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;

    padding: 5px 0;
    border-radius: 10px;
    line-height: 0;
    &::before {
      position: absolute;
      content: "";
      width: 55%;
      height: 100%;
      background-color: #010101;
      top: 0;
      left: 50%;
      transition: linear 0.3s;
    }
    &__active {
        &::before {
            left: 0;
        }
    }
  }
  &__burger {
    display: none;
  }
}

.theme-btn {
  padding: 0 20px;
  width: 25px;
  path {
    transition: linear 0.3s;
  }
  &__active {
    path {
      fill: #f1f1f1;
    }
  }
}


