.header {
    position: relative;
    z-index: 200;
    top: 0;
    transition: linear 1s;
    width: 100%;
    background-color: #101b2e3e;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 15px 0;
    }

    &__logo {
        font-size: 1.8rem;
    }

    &__menu {
        display: flex;
        gap: 48px;
        align-items: center;

        @include media(768px) {
            display: none;
        }
    }


    &__link {
        font-size: 1.8rem;
        color: white;
        opacity: 40%;
        transition: linear 0.3s;
        &-active {
            opacity: 100%;
        }
        // &-contact {
        //     border: solid 1px rgba(255, 255, 255, 0.241);
        //     border-radius: 5px;
        //     padding: 5px 12px;
        //     background-color: #091427a3;
        //     &:hover {
        //         background-color: white;
        //         color: black;
        //     }
        // }
        &:hover {
            opacity: 90%;
        }
    }
    
    &__burger {
        display: none;
        cursor: pointer;
        width: 50px;
        height: 2px;
        background-color: rgb(255, 255, 255);
        position: relative;
        transition: linear 0.3s;
        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: rgb(255, 255, 255);
            top: 10px;
            right: 0;
        }

        &::before {
            top: -10px;
        }

        &-active {
            height: 3px;
            width: 40px;
            transform: rotate(45deg);
            &::after {
               opacity: 0;
            }
    
            &::before {
                height: 3px;
                width: 40px;
                top: 0;
                transform: rotate(90deg);
            }
        }
    }

}

@include media(786px) {
    .header {
        &__burger {
            display: block;
        }
    }
}
