.about {
  position: relative;

  padding: 70px 0;
  
  &__img {
    position: relative;
    width: 100%;
    max-width: 500px;
    line-height: 0;
    transition: linear 0.5s;

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transform: scale(1.025);
    }

    
  }

  &__theme_day {
    background-color: $bodyColor;;
  }
  &__theme_nigth {
    background-color: #010101;
    h1,h2,h3, p {
      color: #f1f1f1;
    }
  }
}



@include media(786px) {
  .about {
    .grid {
      gap: 25px;
    }
    &__img {
      margin: 0 auto;
    }
  }
}
