.projects {
   background-color: #adb8c2;
   padding: 100px 0;
    &__content {
      display: grid;

      grid-template-columns: repeat(3, 300px);
      
      place-content: center;

      gap: 20px 20px;
    }
    &__card {
      cursor: pointer;

      width: 300px;
      height: 150px;

      background-color: #fff;
    }
}