// Colors
    $bodyColor: #030E21;

    //components 
    $headerColor : lightgray;

    //fonts
    $fontPrimary : #ffff;
    $fontSecondary : #868490;
    $fontTertiary : #F8E7A1;

// Breakpoints 

$desktop-m : 1980px;
$desktop-s : 1440px;
$tablet : 1024px;
$tablet-s : 768px; 
$mobile : 425px;
$mobile-s : 320px;
