// Colors
   $bodyColor: #f3f3f3;


    //components 
    $headerColor : lightgray;

    //fonts
    $fontPrimary :  #000000;
    $fontSecondary : #161616;
    

// Breakpoints 

$desktop-m : 1980px;
$desktop-s : 1440px;
$tablet : 1024px;
$tablet-s : 768px; 
$mobile : 425px;
$mobile-s : 320px;
