// Base settings and reset
@import 'global/_var';
@import 'global/_mixin';
@import 'global/_reset';

// Container
@import 'components/_container';
@import 'components/_grid';

// Fonts settings
@import 'global/_typography';

// Components
@import 'components/_header';
@import 'components/_footer';
@import 'components/_buttons';


// Layout

@import 'sections/_about';
@import 'sections/_projects';
@import 'sections/_contact';





.wrapper {
    width: 100%;
    padding: 50px 0;
    display: grid;
  }

.display-none { // Delet
  display: none;
}
  